
#reset {
    margin: 20px auto;
    
    grid-area: header; 
    text-align: center;
background-color: slateblue;
}
.button1 {
    position: relative;
    top: 30px;

}
.main-grid-container {
    display: grid;
    grid-template-areas: 
        'header header header header'
        'left main main right'
        'footer footer footer footer';
    grid-template-rows: 20vh auto 20vh;
    grid-template-columns: 25vw auto 25vw;
    
}
#container {
    grid-area: main; 
  display: grid;
  width: 400px;
  height: 400px;
  /* margin: 50px auto; */
  margin: auto;
  padding: auto;
  border: 2px solid red;
  background-color: seagreen;

  grid-template-rows:  1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
  grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;


}
/* make a container that the middle section and two sides will go in. then make a grid
inwhich they are 1fr 2fr 1fr columns */
#instructions {
   /* padding: 20px 20px; */
  
   text-align: center;
   font-size: 20px;
   grid-area: left;
background-color: red;
}

#options {
    grid-area: right;
   
    /* padding: 20px 20px; */
   text-align: center;
   font-size: 20px;
   background-color: blue;
}
#bottom-info {
    text-align: center;
    grid-area: footer;
}
.box {
    transition-delay: 300s;

}
.box:hover {
    background-color:black;
    transition-delay: 0s;
    }

